    body {
        background-color: gray;
        padding: 0px;
        margin: 0px;
    }

    h1, h2, h3, h4 {
        font-family: 'Trebuchet MS', arial, sans-serif;
    }

    div.content {
        font-family: verdana, sans-serif;
        font-size: 12px;
        background-color: white;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        margin-left: 10px;
        margin-top: 0px;
        padding-top: 5px;
        padding-left: 15px;
        padding-right:15px;
    }

    div.ad {
        float: right;
        padding: 8px;
        margin: 20px;
    }

    p {
        /*font-size: 0.8em;*/
        text-align: justify;
    }

    p.note {
        font-style: italic;
    }

    p.date {
        text-align: right;
    }

    p.sig {
        text-align: right;
        font-family: monospace;
    }

    p.item {
        font-family: Andale Mono, Courier New, monospace;
        text-indent: 2%;
    }

    pre.code {
        background-color: #EEEEEE;
        border: 1px dashed gray;
        padding-left: 5px;
    }

    a {
        color: blue;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .quote {
        font-style: italic;
    }

    .mono {
        font-family: monospace;
    }

    img.photo {
    	border: 1px solid black;
    }


    .string   { color: red; }
    .numeric  { color: red; }
    .operator { color: #cc9900; }
    .statement { color: #663300; }
    .comment { color: blue; }
    .property { color: purple; }

    table.data {
        border-width: 1px;
        border-spacing: 0px;
        border-color: gray;
        border-style: outset;
        border-collapse: separate;
    }
    table.data th {
        font-weight: normal;
        font-style: italic;
        text-align: left;
        padding: 2px;
        border-width: 1px;
        border-style: inset;
        border-color: gray;
    }
    table.data td {
        text-align: right;
        padding: 2px;
        border-width: 1px;
        border-style: inset;
        border-color: gray;
    }
