target
*~
sqlitejdbc/dl
sqlitejdbc/build
sqlitejdbc/nestedvm-*
src/main/resources/org/ibex/nestedvm/*.o
.idea
*.iml
atlassian-ide-plugin.xml
.classpath
.project
.settings/
.DS_Store
*.class
.fleet/settings.json